body {
  font-family: Poppins, sans-serif;
  margin-block: 15px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  font-size: 16px;
  border-radius: 4px;
  padding: 11px 25px;
  font-weight: 700;
  background-color: #FF9900;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  position: relative;

  >a {
    display: flex;
  }

  ul {
    display: flex;
    gap: 29px;
    color: #2F281E;
    font-size: 14px;

    li {
      transition: all 0.3s ease-in;

      a:hover {
        font-weight: 700;
      }
    }
  }

  #burger {
    display: none;
  }

  .buttons {
    gap: 14px;

    :first-child {
      font-weight: 600;
    }

    :last-child {
      border: 1px solid #BCD0E5;
      color: #173A56;
      order: -1
    }
  }
}

.buttons {
  display: flex;

  :last-child {
    font-weight: 600;
    background-color: #FFFFFF;

  }
}

.hero {
  display: flex;
  align-items: center;
  padding-top: 30px;

  h2 {
    color: #2F281E;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
  }

  p {
    color: #544837;
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .buttons {
    gap: 30px;

    :first-child {
      padding: 15px 40px;
    }

    :last-child {
      padding: 15px 40px;
      color: #FF9900;
      text-decoration: underline;
      display: flex;
      gap: 3px;

      &::before {
        content: url(../images/triangle.svg);
      }
    }
  }
}

.features {
  text-align: center;
  padding-top: 110px;

  h2 {
    max-width: 539px;
    margin: auto;
    font-weight: 700;
    font-size: 36px;
    color: #2f281e;
  }

  .powers {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-block: 54px 34px;

    li {
      max-width: 240px;

      h3 {
        font-size: 22px;
        font-weight: 600;
        color: #2F281E;
        margin-block: 30px 13px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #544837
      }
    }
  }

  button {
    padding: 15px 40px;
    margin-bottom: 90px
  }
}

.professionals,
.marketers,
.managers {
  padding-top: 120px;
  display: flex;
  gap: 100px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-block: 26px 16px;

    span {
      color: #544837;
    }

    h2 {
      font-weight: 700;
      font-size: 36px;
      color: #2F281E;
      margin-bottom: 15px;
    }

    p {
      line-height: 26px;
      color: #544837;
    }

    h3 {
      color: #2F281E;
      margin-top: 15px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        display: flex;
        line-height: 26px;
        align-items: center;

        &::before {
          content: url(../images/check_mark.svg);
          background-color: #FF9900;
          min-width: 35px;
          height: 35px;
          border-radius: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 30px;
        }
      }
    }
  }
}

.managers {
  .content {
    margin-block: 30px;
  }
}

.marketers {
  padding-bottom: 145px;
}

.footer {
  .footer__content {
    display: flex;
    justify-content: end;
    padding-bottom: 80px;

    ul {
      li {
        line-height: 35px;
        font-weight: 400;
        transition: all 0.1s ease-in;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .footer__links2 {
      padding-left: 120px;
      padding-right: 80px;
    }

    .subscribe {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-top: 17px;

      input {
        display: block;
        width: 325px;
        height: 48px;
        margin-bottom: 20px;
        border-color: #BCD0E5;
        border-radius: 4px;
        font-size: 32px;
        color: #544837;
      }
    }
  }
}

@media (max-width: 1028px) {
  .container {
    padding: 0 15px;
  }

  .buttons {
    justify-content: center;
  }

  .hero,
  .professionals,
  .managers,
  .marketers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    width: 100%;

    img {
      width: 90vw;
    }
  }

  .managers {
    >div {
      order: -1;
    }
  }

  .features {
    padding-top: 58px;

    button {
      margin-bottom: 10px;
    }
  }

  .marketers {
    padding-bottom: 50px;
  }
}

@media (max-width: 830px) {
  .header {
    flex-wrap: wrap;

    nav {
      order: 1;
      width: 100%;
      padding-top: 30px;

      ul {
        justify-self: center;
      }
    }
  }

  .powers {
    flex-wrap: wrap;
    gap: 15px;

    li {
      max-width: unset !important;
      width: 48%;
    }
  }

  .footer__content {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly !important;
    padding-top: 15px;

    .footer__links2 {
      padding: unset !important;
    }

    .subscribe {
      width: 100%;

      input,
      button {
        align-self: center;
      }
    }
  }
}

@media (max-width: 520px) {
  button {
    padding: 10px 20px !important;
  }

  .header {
    .buttons {
      width: 100%;
      justify-content: center;
      padding-top: 15px;
    }

    nav {
      position: absolute;
      left: -200%;
      transition: .5s;
      padding-block: 25px;
      background-color: #FFFFFF;
      top: 20px;
      box-shadow: 10px 1px 20px 5px rgb(204, 202, 202);
      border-top: 1px solid #bdbbbb;
      border-right: 1px solid #bdbbbb;
      border-bottom: 1px solid #bdbbbb;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;

      ul {
        flex-direction: column;
        font-size: 20px;
      }
    }

    .burgereBtn {
      display: flex;
      position: relative;
      margin-right: 15px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      align-items: center;
      z-index: 3;

      span,
      ::before,
      ::after {
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #2F281E;
        transition: .5s;

        &::before {
          content: "";
          top: -8px;
        }

        &::after {
          content: "";
          top: 8px;
        }
      }
    }

    &:has(:checked) {
      label>span {
        rotate: 45deg;

        &::before {
          top: 0;
          rotate: -90deg;
        }

        &::after {
          top: 0;
          rotate: 0deg;
        }
      }

      nav {
        translate: 198%;
      }
    }
  }

  .hero {
    justify-content: baseline;

    h2 {
      font-size: 40px;
    }
  }

  .powers {
    gap: 30px;

    li {
      width: 100%;
      text-align: center;
    }
  }

  .subscribe {
    input {
      max-width: 280px;
    }
  }
}